{{ define "title" }}Chris Rehn{{ end }}
{{ define "content" }}
<h1>안녕하세요! 👋</h1>
<p>I'm Chris, a software engineer based in Korea. Apart from my passion for building stuff, I like design, skateboarding, and making complex things simple. I got some code on <a href="https://github.com/hoffa">GitHub</a>.</p>
<p>I can be reached at <a href="mailto:chris@rehn.me">chris@rehn.me</a>.</p>
<h2>Posts</h2>
<ul>
  {{ range . }}
    {{ if not .Hide }}
      <li>{{ .Date }} <a href="{{ .Path }}">{{ .Title }}</a></li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}