<!doctype html>
<html lang="en">
  <head>
    <title>John Doe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        font-family: monospace;
        font-size: 125%;
        width: 90%;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <h1>John Doe</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h2>Posts</h2>
    <ul>
      {{ range . }}
        <li>{{ .Date }} <a href="{{ .Path }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </body>
</html>
