{{ define "layout" }}
  <!DOCTYPE html>
  <html>
    <head>
      <title>{{ .Title }}</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
      <ul>
        <li><strong>John Doe</strong></li>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/feed.xml">RSS</a></li>
      </ul>
      <hr />
      FUCKING HELL
      {{ .Content }}
      {{ if .Index }}
        <h2>Posts</h2>
        <ul>
          {{ range .Posts }}
            {{ if .Title }}
              <li><p><a href="{{ .Path }}">{{ .Title }}</a><br>{{ .Date }}</p></li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </body>
  </html>
{{ end }}