{{ define "layout" }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ template "title" . }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        max-width: 40em;
        margin: 0 auto;
        padding: 0 1em;
      }

      ul#menu {
        padding-left: 0;
      }

      ul#menu li {
        display: inline;
      }
    </style>
  </head>
  <body>
    <ul id="menu">
      <li><strong>John Doe</strong></li>
      <li><a href="/index.html">Home</a></li>
    </ul>
    <hr />
    {{ template "content" . }}
  </body>
</html>
{{ end }}
