{{ define "template" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Description }}">
    <meta name="og:title" content="{{ .Title }}">
    <meta name="og:description" content="{{ .Description }}">
    <meta name="og:url" content="{{ call .Join .Config.BaseURL .Path }}">
    <meta name="og:image" content="https://placekitten.com/g/1200/1200">
    <meta name="twitter:card" content="summary">
    <style>
      body {
        font-family: system-ui, sans-serif;
        line-height: 1.5;
        max-width: 40em;
        margin: 0 auto;
        padding: 0 1em;
      }

      .mb-0 {
        margin-bottom: 0;
      }

      #menu {
        padding: 0;
      }

      #menu li {
        display: inline;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul id="menu">
        <li><strong>{{ .Config.Author }}</strong></li>
        <li><a href="{{ call .Join .Config.BaseURL "index.html" }}">Home</a></li>
        <li><a href="{{ call .Join .Config.BaseURL "feed.xml" }}">RSS</a></li>
      </ul>
    </nav>
    <main>
      <article>
        {{ if .Article }}
          <h1 class="mb-0">{{ .Title }}</h1>
          <span><i>{{ .Date.Format .Config.DateFormat }}</i></span>
        {{ end }}
        {{ .Content }}
      </article>
      {{ if eq .Path "index.html" }}
        <section>
          <h2>Posts</h2>
          <ul>
            {{ range .Pages }}
              {{ if .Article }}
                <li>
                  <p class="mb-0">
                    <a href="{{ call .Join .Config.BaseURL .Path }}">{{ .Title }}</a>
                  </p>
                  <span>{{ .Date.Format .Config.DateFormat }}</span>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </section>
      {{ end }}
    </main>
  </body>
</html>
{{ end }}