<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Summary }}">
    <meta name="og:title" content="{{ .Title }}">
    <meta name="og:description" content="{{ .Summary }}">
    <meta name="og:url" content="{{ .Path | absURL }}">
    <meta name="og:image" content="https://placekitten.com/g/1200/1200">
    <meta name="twitter:card" content="summary">
    <style>
      nav ul {
        padding: 0;
      }

      nav ul li {
        display: inline;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><strong>{{ .Site.Author }}</strong></li>
        <li><a href="{{ "index.html" | absURL }}">Home</a></li>
        <li><a href="{{ "feed.xml" | absURL }}">RSS</a></li>
      </ul>
    </nav>
    <main>
      {{ if eq .Path "index.html" }}
        {{ .Content }}
        <h2>Posts</h2>
        <ul>
          {{ range .Site.Pages }}
            <li>
              <p><a href="{{ .Path | absURL }}">{{ .Title }}</a></p>
            </li>
          {{ end }}
        </ul>
      {{ else }}
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        <p><i>{{ .Date.Format "January 2, 2006" }}</i></p>
      {{ end }}
    </main>
  </body>
</html>
