<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{ if eq .Path "index.html" }}
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      <ul>
        {{ range .Pages }}
          <li><a href="{{ .URL }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    {{ else }}
      <h1>{{ .Title }}</h1>
      <p>{{ .Date.Format "January 2, 2006" }}</p>
      {{ .Content }}
      <a href="/">Home</a>
    {{ end }}
  </body>
</html>
