<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Summary }}">
    <meta name="og:title" content="{{ .Title }}">
    <meta name="og:url" content="{{ .URL }}">
    <meta name="og:image" content="https://placekitten.com/g/1200/1200">
    <meta name="twitter:card" content="summary">
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/feed.xml">RSS</a></li>
    </ul>
    <hr>
    <h1>{{ .Title }}</h1>
    <p><i>{{ .Date.Format "January 2, 2006" }}</i></p>
    {{ .Content }}
    {{ if eq .Path "index.html" }}
      <h2>Posts</h2>
      <ul>
        {{ range .Pages }}
          <li><a href="{{ .URL }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </body>
</html>
