name: Release
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          check-latest: true
      - run: go test
      - run: |
          GOOS=linux GOARCH=arm GOARM=6 go build -o dist/linux_arm6
          GOOS=linux GOARCH=arm GOARM=7 go build -o dist/linux_arm7
          GOOS=linux GOARCH=amd64 go build -o dist/linux_amd64
          GOOS=darwin GOARCH=amd64 go build -o dist/darwin_amd64
          GOOS=darwin GOARCH=arm64 go build -o dist/darwin_arm64
      - run: |
          git tag --force v1
          git push --force origin v1
          gh release upload v1 dist/* --clobber
